/* Definisemo stil teksta za citav sajt */
/* body {      
    
    font-family: 'Courier New', monospace;
} */

.jumbotron {
    width: 100%;
    padding: 100px 40px;
}

.container-fluid {
    padding: 60px 50px;
  }
  .bg-grey {
    background-color: #f6f6f6;
  }

 #signal {
    color: orangered;
    font-size: 150px;
 }

 #goldmedals {
    color: gold;

 }

 #silvermedals {
    color: silver;
 }

  /* @media screen and (max-width: 480px) {
    img {
      max-width: 400px;
    }
  } */